{{!-- nav --}}
<nav class="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ARTicle Scraper</a>
        </div>
            <a class="nav-link" href="/">HOME</a>
            <a class="nav-link" href="/saved">Saved Articles</a>
            <a class="button btn-primary scrape-new" href="/scrape">
                <i class="material-icons">file_download</i>
                <span >Scrape New ARTicles</span>
            </a>
    </div>
</nav>

<div id="logo">
    <h1>Get the latest news from the art world</h1>
</div>

{{!-- articles --}}
<div class="article-container">
</div>